td.col-sm-2 <%= title %>
td.col-sm-9 <%= content %>
td.col-sm-1
  a.edit.btn.btn-default.btn-xs
    span.glyphicon.glyphicon-pencil
  |  
  a.delete.btn.btn-danger.btn-xs
    span.glyphicon.glyphicon-remove
