doctype html
html(lang="ja")
 head
  meta(charset="utf-8")
  style(src="css/style.css")
  title スーパークールなサイト
 body
  h1#pageTitle スーパークールなサイト
  h2.subTitle これはほんまクールやで
  // ここから本文です
  p LAST OF USが面白くて危うく人生ダメにするところでした。

  script(src="js/models/todo.js")
